.my_table tbody tr:nth-child(even) {
  background-color: #ebecf080;
}

.my_table tbody tr:nth-child(even):hover {
  background-color: #4052b510;
}


.my_table tbody tr td span {
  display: block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
