input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 600000s 0s, color 600000s 0s;
  font-size: 16px !important;
}

input:-webkit-autofill::first-line,
input:-webkit-autofill:hover::first-line,
input:-webkit-autofill:focus::first-line,
input:-webkit-autofill:active::first-line {
  font-size: 16.35px;
  font-family: sans-serif;
  line-height: 17px;
}


