<div class="tabs flex w-full justify-between items-end flex-row-reverse">

  <a [routerLinkActive]="['tab-active']" routerLink="/system/control-medico/entrega-insumos/list/archived"
    class="tab tab-lifted !-mr-0 archived" *permissions="['ARCHIVAR_ENTREGAS_INSUMOS']">
    <span class="fa-regular fa-trash-can text-sm leading-none mr-2"></span>
    Archivados
  </a>

  <div></div>

  <div class="flex items-end">
    <div class="flex items-end" *permissions="['LEER_ENTREGAS_INSUMOS']">
      <a [routerLinkActive]="['tab-active']" routerLink="/system/control-medico/entrega-insumos/follow"
        class="tab tab-lifted !mx-0">
        Seguimiento /<span class="capitalize ml-1">{{currentMonth}}</span>
      </a>
      <a [routerLinkActive]="['tab-active']" routerLink="/system/control-medico/entrega-insumos/list"
        class="tab tab-lifted">
        Registros
      </a>
    </div>
  </div>
</div>
