<div class="hero min-h-screen bg-neutral-content text-neutral relative">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-5xl font-bold">404</h1>
            <h3>Página no encontrada</h3>
            <p class="py-6">Parece que a habido un error con la página que estabas buscando.
                <br>
                Es posible que la entrada haya sido eliminada o que la dirección no exista.
            </p>
            <button class="btn btn-sm bg-[#14bbee]" (click)="goBack()">volver</button>
        </div>
    </div>
    <img src="assets/images/diabetes.svg" class="w-1/6 absolute bottom-0 right-5 " alt="hero image">
</div>
