.my_table tbody tr{
  border-bottom: .5px solid #535a6650;
}


.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border-radius: none  !important;
  -webkit-border-radius: none  !important;
  -moz-border-radius: none  !important;
  -ms-border-radius: none  !important;
  -o-border-radius: none  !important;
}

