<mat-form-field appearance="fill" class="w-full">
  <mat-label>Tipo de identificación</mat-label>
  <mat-select [formControl]="identificationTypeFormControl">
    <mat-option *ngFor="let identificationType of identificationTypes" [value]="identificationType.id">
      {{ identificationType.value }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="identificationTypeFormControl.hasError('required')">
    Este campo es <strong>requerido</strong>
  </mat-error>
  <mat-hint *ngIf="identificationTypes == null ||
      identificationTypes.length == 0">No hay tipos de identificación</mat-hint>
</mat-form-field>
