<!-- SIDEBAR -->
<div id="sidebar" class="h-[calc(100vh-4rem)] bg-[#ebecf0] border-r-2 border-[#535a6650] shadow-xl">
  <div class="p-8 text-neutral">
    <div class="-ml-2">
      <div class="mb-4 flex items-center text-sm">
        <span class="las la-database text-lg leading-none"></span>
        <h2 class="pl-1 font-medium">
          Catálogos
        </h2>
      </div>
    </div>
    <ul>
      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']"
          routerLink="/system/control-datos/datos-formularios/estados-examen"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Estados de examen</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/hospitales"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Hospitales</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/insumos"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Insumos</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/medicos"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Médicos</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/regiones"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Regiones</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tiempo-diagnostico"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tiempo de diagnóstico</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-diabetes"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de diabetes</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-hospital"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de hospital</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-identificacion"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de identificación</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-informacion-ayuda"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de información de ayuda</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-insulina-basal"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de insulina basal</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-insulina-prandial"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de insulina prandial</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-nacionalidad"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de nacionalidad</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>

      <li class="flex rounded-lg items-center mb-2 flex-row-reverse justify-end">
        <a [routerLinkActive]="['active']" routerLink="/system/control-datos/datos-formularios/tipos-paciente"
          class="flex items-center text-sm">
          <span class="pl-1 text-xs">Tipos de paciente</span>
        </a>
        <span class="fas fa-database text-base leading-none"></span>

        <div class="flex flex-col -mt-5">
          <span class="-mb-[6px] -ml-[0.2px]">|</span>
          <div class="flex">
            <span class="-ml-[4px]">└</span>
            <span>─</span>
            <span class="active hidden">─</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
