<div class="tabs flex w-full justify-between items-end flex-row-reverse">
  <a
    [routerLinkActive]="['tab-active']"
    routerLink="/system/personal/{{ route }}/list/archived"
    class="tab tab-lifted !-mr-0 archived"
    *permissions="[
      'RESTAURAR_' + route.toUpperCase(),
      'ELIMINAR_' + route.toUpperCase()
    ]"
  >
    <span class="fa-regular fa-trash-can text-sm leading-none mr-2"></span>
    Archivados
  </a>
  <div></div>

  <div class="flex items-end">
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/personal/usuarios"
      class="tab tab-lifted"
      *permissions="[
        'LEER_USUARIOS',
        'CREAR_USUARIOS',
        'ACTUALIZAR_USUARIOS',
        'ELIMINAR_USUARIOS'
      ]"
    >
      Usuarios
    </a>
    <a
      [routerLinkActive]="['tab-active']"
      routerLink="/system/personal/roles"
      class="tab tab-lifted"
      *permissions="[
        'LEER_ROLES',
        'CREAR_ROLES',
        'ACTUALIZAR_ROLES',
        'ELIMINAR_ROLES'
      ]"
    >
      Roles y permisos
    </a>
  </div>
</div>
