<module-header title="entrega insumos">
  <entrega-insumo-breadcrumbs breadcrumbs></entrega-insumo-breadcrumbs>
  <entrega-insumo-tabs
    tabs
    route="entrega-insumos"
    [archived]="false"
  ></entrega-insumo-tabs>
</module-header>

<div
  class="w-full h-[calc(100vh-4rem-9rem+4px)] p-4 bg-white border-t-[1px] border-[#535a6650]"
>
  <div class="flex justify-between my-4">
    <div class="w-1/2">
      <div class="relative">
        <div
          class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
        >
          <span class="fa-solid fa-magnifying-glass"></span>
        </div>
        <input
          type="text"
          id="table-search"
          #search
          (keyup)="searchSuppliesDeliveriesWithPatientsByTerm(search.value)"
          class="input input-sm block h-8 p-2 pl-10 w-full max-w-xs text-sm text-neutral bg-[#ebecf0] !border-[#535A6640] rounded-md border !outline-[#535A6620]"
          placeholder="Buscar"
        />
      </div>
    </div>
  </div>

  <div>
    <div class="px-4 py-1 text-xs">
      <h3 class="font-medium">
        <span class="font-bold">{{ supplies_deliveries_patients.length }}</span>
        Entregas de {{ currentMonth }}
      </h3>
    </div>
    <div class="overflow-hidden relative rounded-md">
      <div class="min-h-[calc(100vh-4rem-20rem)] overflow-hidden bg-neutral-content border border-[#535a6650] rounded-md relative mb-4">
        <table class="my_table w-full text-sm text-left text-neutral">
          <thead class="text-xs text-white uppercase bg-primary">
            <tr>
              <th scope="col" class="py-3 px-6">#</th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">
                  Paciente
                  <a
                    class="cursor-pointer ml-1"
                    *ngIf="reverse && supplies_deliveries_patients.length > 1"
                    (click)="reversOrder()"
                  >
                    <span class="fa-solid fa-caret-up"></span>
                  </a>
                  <a
                    class="cursor-pointer ml-1"
                    *ngIf="!reverse && supplies_deliveries_patients.length > 1"
                    (click)="reversOrder()"
                  >
                    <span class="fa-solid fa-caret-down"></span>
                  </a>
                </div>
              </th>
              <th scope="col" class="py-3 px-6">Identificación</th>
              <th scope="col" class="py-3 px-6">Fecha entrega</th>
              <th scope="col" class="py-3 px-6">N° Insumos</th>
              <th scope="col" class="py-3 px-6">Estado</th>
              <th scope="col" class="py-3 px-6">
                <span class="sr-only">Acciones</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y-[0.5px] divide-[#535A6640]">
            <tr
              class="bg-white hover:bg-[#4052b510] transition-all"
              [ngClass]="{
                'bg-red-50 !text-red-400 hover:!bg-red-100 ':
                  supplies_delivery_patient.supplies_delivery.archived
              }"
              *ngFor="
                let supplies_delivery_patient of supplies_deliveries_patients
                  | paginate : config;
                let index = index
              "
            >
              <th scope="row" class="py-3 px-6 font-medium whitespace-nowrap">
                <!-- Indice en orden ascendente -->
                <span *ngIf="!reverse">{{
                  config.itemsPerPage * (config.currentPage - 1) + index + 1
                }}</span>
                <!-- indice en orden descendente -->
                <span *ngIf="reverse">{{
                  supplies_deliveries_patients.length -
                    (config.itemsPerPage * (config.currentPage - 1) + index)
                }}</span>
              </th>
              <td class="py-3 px-6 font-medium whitespace-nowrap capitalize">
                <span>{{
                  supplies_delivery_patient.patient.person
                    | NamesSurnamesComplete
                }}</span>
              </td>
              <td class="py-3 px-6">
                <span>{{
                  supplies_delivery_patient.patient.person.identification
                }}</span>
              </td>
              <td class="py-3 px-6 capitalize">
                <span
                  *ngIf="supplies_delivery_patient.supplies_delivery.delivered"
                  >{{
                    supplies_delivery_patient.supplies_delivery.created_at
                      | date : "dd-MM-yyyy HH:mm:ss"
                  }}</span
                >
                <span
                  *ngIf="!supplies_delivery_patient.supplies_delivery.delivered"
                  >---</span
                >
              </td>
              <td class="py-3 px-6 relative">
                <span
                  *ngIf="supplies_delivery_patient.supplies_delivery.delivered"
                >
                  {{
                    supplies_delivery_patient.supplies_delivery
                      .detail_supplies_delivery.length
                  }}
                </span>
                <span
                  *ngIf="!supplies_delivery_patient.supplies_delivery.delivered"
                  >---</span
                >
              </td>
              <th class="py-3 px-6">
                <div
                  *ngIf="
                    supplies_delivery_patient.supplies_delivery.delivered &&
                    !supplies_delivery_patient.supplies_delivery.archived
                  "
                  class="flex items-center"
                >
                  <span
                    class="fa-solid fa-circle-check text-[#00BC8C] h-2.5 w-2.5 mr-2"
                  ></span
                  >Entregado
                </div>
                <div
                  *ngIf="!supplies_delivery_patient.supplies_delivery.delivered"
                  class="flex items-center"
                >
                  <span
                    class="fa-solid fa-circle-exclamation text-[#f39c11] h-2.5 w-2.5 mr-2"
                  ></span
                  >Pendiente
                </div>
                <div
                  *ngIf="supplies_delivery_patient.supplies_delivery.archived"
                  class="flex items-center"
                >
                  <span
                    class="fa-solid fa-trash-can text-[#f32011] h-2.5 w-2.5 mr-2"
                  ></span
                  >Archivado
                </div>
              </th>
              <th class="py-3 px-6 text-right">
                <div *permissions="['CREAR_ENTREGAS_INSUMOS']">
                  <span
                    *ngIf="!supplies_delivery_patient.supplies_delivery.delivered"
                    [routerLink]="[
                      '/system/control-medico/entrega-insumos/form/paciente/',
                      supplies_delivery_patient.patient.id,
                      'entrega'
                    ]"
                    class="fa-regular fa-square-plus text-lg ml-3 cursor-pointer transition-all hover:text-primary"
                  ></span>
                </div>

                <div
                  *ngIf="supplies_delivery_patient.supplies_delivery.delivered"
                >
                  <span
                    [routerLink]="[
                      '/system/control-medico/entrega-insumos/form/paciente/',
                      supplies_delivery_patient.patient.id,
                      'entrega',
                      supplies_delivery_patient.supplies_delivery.id
                    ]"
                    class="fa-regular fa-eye text-lg ml-3 cursor-pointer transition-all hover:text-primary"
                  ></span>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="loading || supplies_deliveries_patients.length == 0"
          class="h-[calc(100%)] w-full absolute z-10 top-0 left-0"
        >
          <div
            *ngIf="loading"
            class="h-full w-full bg-[#535a6610] backdrop-blur-sm"
          >
            <loader></loader>
          </div>
          <no-content
            *ngIf="supplies_deliveries_patients.length == 0 && !loading"
          ></no-content>
        </div>
      </div>
      <!-- Navegacion de tabla -->
      <pagination [config]="config"></pagination>
    </div>
  </div>
</div>
