<mat-form-field appearance="fill" class="w-full">
  <mat-label>¿El lugar donde usted vive es?</mat-label>
  <mat-select
    [formControl]="housingTypeFormControl">
    <mat-option *ngFor="let tipoVivienda of tiposVivienda"
      [value]="tipoVivienda.value">{{tipoVivienda.value}}</mat-option>
  </mat-select>
  <mat-error *ngIf="housingTypeFormControl.hasError('required')">Este campo es <strong>requerido</strong></mat-error>
  <mat-hint *ngIf="tiposVivienda == null || tiposVivienda.length == 0">No hay valores de selección</mat-hint>
</mat-form-field>
